<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/icons/fa-css/all.min.css">
    <link rel="stylesheet" href="../assets/icons/fa-css/fontawesome.min.css">
    <script defer src="../assets/scripts/contents.js"></script>
    <script defer src="../assets/scripts/process.js"></script>
    <title>PadiPedia | Diagnosa Hama</title>
</head>
<body>
    <div class="container">
        <nav class="mobile-nav">
            <h1 class="mobile-nav-brand">PadiPedia</h1>
        </nav>
        <nav class="desktop-nav">
            <h1 class="nav-brand"><a class="nav-link" href="#">PadiPedia</a></h1>
            <ul class="desktop-nav-ul">
                <li class="nav-list"><a class="nav-link" href="index.html"><i class="fa-solid fa-house"></i>Beranda</a></li>
                <li class="nav-list"><a class="nav-link" href="diagnosa.html"><i class="fa-solid fa-bug"></i>Diagnosa Hama</a></li>
                <li class="nav-list"><a class="nav-link" href="data.html"><i class="fa-solid fa-clipboard-list"></i>Data Hama</a></li>
            </ul>
        </nav>
        <main class="main-content">
            <header class="content-header">
                <h1 class="content-title rf-18">Diagnosa Hama</h1>
                <p class="small-content-title rf-15">Silahkan pilih diantara gejala-gejala berikut yang terjadi pada tanaman padi anda untuk mengetahui jenis hama yang menyerang !</p>
            </header>
            <div class="section-container">
                <section class="form-section">
                    <header class="form-section-header">
                        <h3>Gejala Akar</h3>
                    </header>
                    <div class="form-section-input">
                        <span class="radio-span"><input type="radio" name="gejala_akar" value="GA1"></span><label class="label-span">Pertumbuhan bibit terhambat</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_akar" value="GA2"></span><label class="label-span">Bibit layu dan mudah dicabut dan rebah</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_akar" value="GA3"></span><label class="label-span">Pertumbuhan tanaman terganggu</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_akar" value="GA4"></span><label class="label-span">Banyak padi yang roboh</label><br>
                        <label class="label-span label-cf" for="GA-cf">Persentase Kepastian Gejala : </label>
                        <input class="input-cf" id="GA-cf" type="number" min="0" max="100" placeholder="0 - 100" value="100">
                    </div>
                </section>
                <section class="form-section">
                    <header class="form-section-header">
                        <h3>Gejala Batang</h3>
                    </header>
                    <div class="form-section-input">
                        <span class="radio-span"><input type="radio" name="gejala_batang" value="GB1"></span><label class="label-span">Kadang terlihat potongan tangkai malai</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_batang" value="GB2"></span><label class="label-span">Terbentul bisul berbentuk pipa</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_batang" value="GB3"></span><label class="label-span">Tanaman kelihatan terbakar (<i>hopper burn</i>)</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_batang" value="GB4"></span><label class="label-span">Kerdil dan daun berwarna kuning kecoklatan</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_batang" value="GB5"></span><label class="label-span">Pada buah padi terdapat bintik-bintik hitam</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_batang" value="GB6"></span><label class="label-span">Batang terdapat bekas tusukan</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_batang" value="GB7"></span><label class="label-span">Tangkai padi rusak, patah, sisa biji padi berjatuhan</label><br>
                        <label class="label-span label-cf" for="GB-cf">Persentase Kepastian Gejala : </label>
                        <input class="input-cf" id="GB-cf" type="number" min="0" max="100" placeholder="0 - 100" value="100">
                    </div>
                </section>
                <section class="form-section">
                    <header class="form-section-header">
                        <h3>Gejala Daun</h3>
                    </header>
                    <div class="form-section-input">
                        <span class="radio-span"><input type="radio" name="gejala_daun" value="GD1"></span><label class="label-span">Terlihat bercak-bercak berwarna putih, berupa garis atau titik-titik terdapat tabung atau gulungan daun</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_daun" value="GD2"></span><label class="label-span">Daun tergulung dan berubah warna menjadi kuning sampai kemerah-merahan</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_daun" value="GD3"></span><label class="label-span">Hanya tersisa tulang-tulang daun</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_daun" value="GD4"></span><label class="label-span">Bibit berubah warna menjadi kekuningan</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_daun" value="GD5"></span><label class="label-span">Mula-mula daun mengalami perubahan warna</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_daun" value="GD6"></span><label class="label-span">Daun ditumbuhi cendawan jelaga dan kering</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_daun" value="GD7"></span><label class="label-span">Daun terdapat bercak-bercak bekas isapan oleh nimfa walang sangit</label><br>
                        <label class="label-span label-cf" for="GD-cf">Persentase Kepastian Gejala : </label>
                        <input class="input-cf" id="GD-cf" type="number" min="0" max="100" placeholder="0 - 100" value="100">
                    </div>
                </section>
                <section class="form-section">
                    <header class="form-section-header">
                        <h3>Gejala Umum</h3>
                    </header>
                    <div class="form-section-input">
                        <span class="radio-span"><input type="radio" name="gejala_umum" value="GU1"></span><label class="label-span">Beberapa gabah tidak berisi</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_umum" value="GU2"></span><label class="label-span">Tunas gelembungnya tidak dapat berbunga</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_umum" value="GU3"></span><label class="label-span">Tanaman padi menjadi layu, bahkan ada yang roboh</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_umum" value="GU4"></span><label class="label-span">Kerdil rumput</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_umum" value="GU5"></span><label class="label-span">Tunas sedikit, waktu berbunga tertunda</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_umum" value="GU6"></span><label class="label-span">Pada buah padi Nampak noda bekas isapan kepik</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_umum" value="GU7"></span><label class="label-span">Pucuk mudah dicabut</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_umum" value="GU8"></span><label class="label-span">Tampak botak-botak bekas serangan tikus</label><br>
                        <span class="radio-span"><input type="radio" name="gejala_umum" value="GU9"></span><label class="label-span">Burung berkeliaran disekitar tanaman padi</label><br>
                        <label class="label-span label-cf" for="GU-cf">Persentase Kepastian Gejala : </label>
                        <input class="input-cf" id="GU-cf" type="number" min="0" max="100" placeholder="0 - 100" value="100">
                    </div>
                </section>
                <section class="button-form-section">
                    <a class="btn-form light-button" href="diagnosa.html">Refresh Halaman</a>
                    <a class="btn-form run-form">Diagnosa Hama</a>
                </section>
            </div>
            <div class="floating-card">
                <div class="close"><p class="close-button">X</p></div>
                <img src="" alt="" class="floating-card-image">
                <div class="floating-card-content">
                    <h2 class="floating-card-title text-center light-text">Nama Hama</h2>
                    <h4 class="floating-card-subTitle text-center light-text">Nama Latin Hama</h4>
                    <p class="floating-card-text text-center">Accuration</p>
                </div>
                <div class="floating-card-section">
                    
                </div>
            </div>
        </main>
    </div>
</body>
</html>        